<div style="padding-top:20px; padding-left:25px;">
  <div id="logInContainer">
    <h2 style="background-color: black; color:white">Login</h2>

    <form>
        <p>Username</p>
        <input type="text" id="email-login" />
        <p>Password</p>
        <input type="password" id="password-login" /> <br>
        <button type="submit">login</button> <br>
        <a style="color:blue;" href="signup">Sign up instead</a>
    </form>
  </div>
</div>

<script src="/public/js/login.js"></script>
