<div style="padding-top:20px; padding-left:25px;">
  <div id="logInContainer">
    <h2 style="background-color: black; color:white">Sign Up</h2>

    <form>
        <p>Username</p>
        <input type="text" id="email-login" />
        <p>Password</p>
        <input type="password" id="password-login" /> <br>
        <button type="submit">Sign Up!</button> <br>
        <a style="color:blue;" href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/login.js"></script> 
{{!-- change this to a new script --}}